<!--_meta 作为公共模版分离出去-->
{include file="common/_meta" /}
<title>新增文章 - 资讯管理 </title>
<meta name="keywords" content="李志立，lizhilimaster@163.com">
<meta name="description" content="李志立，lizhilimaster@163.com">
</head>
<body>
	<article class="page-container" style="padding-left: 100px !important;">
		<form class="form form-horizontal" enctype="multipart/form-data" action="" method="post" id="form-article-add">
			<input type="hidden" name="id" id="id" value="{$data.id}" />
			<div class="row cl">
				<label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>文章标题：</label>
				<div class="formControls col-xs-9 col-sm-9">
					<input type="text" class="input-text" value="{$data.title}" placeholder="请输入文章标题" id="title" name="title">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>分类栏目：</label>
				<div class="formControls col-xs-9 col-sm-9"> <span class="select-box">
						<select name="cateid" class="select">
							<option value>全部栏目</option>
							{volist name="datasort" id="vo"}
								{if condition="$vo.id == $data.cateid"}
								<option value="{$vo.id}" selected>
									<?php if(isset($vo['level'])){echo str_repeat("|--",$vo['level']);}?>{$vo.catename}</option>
								{else /}
								<option value="{$vo.id}">
									<?php if(isset($vo['level'])){echo str_repeat("|--",$vo['level']);}?>{$vo.catename}</option>
								{/if}
							{/volist}
						</select>
					</span> </div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-3 col-sm-2">关键词：</label>
				<div class="formControls col-xs-9 col-sm-9">
					<input type="text" class="input-text" value="{$data.keyword}" placeholder="请输入关键词" id="keyword" name="keyword">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-3 col-sm-2">文章摘要：</label>
				<div class="formControls col-xs-9 col-sm-9">
					<textarea name="desc" id="desc" rows="" class="textarea" placeholder="说点什么...100个字符以内" datatype="*10-100"
					 dragonfly="true" nullmsg="备注不能为空！" onKeyUp="textlength()">{$data.desc}</textarea>
					<p class="textarea-numberbar"><em class="textarea-length">{$data.desc|mb_strlen}</em>/100</p>
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-3 col-sm-2">文章作者：</label>
				<div class="formControls col-xs-9 col-sm-9">
					<input type="text" class="input-text" value="{$data.author}" placeholder="" id="author" name="author">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-3 col-sm-2">设为推荐：</label>
				<div class="formControls col-xs-9 col-sm-9">
					<div class="switch" data-on-label="开" data-off-label="关">
						{if condition="$data.state == 1"}
						<input type="checkbox" checked="checked" name="state" />
						{else /}
						<input type="checkbox" name="state" />
						{/if}
					</div>
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-3 col-sm-2">缩略图：</label>
				<div class="formControls col-xs-9 col-sm-9">
					<div class="uploader-thum-container">
						<a href="javascript:void();" class="btn btn-primary radius"><i class="icon Hui-iconfont">&#xe642;</i> 浏览文件</a>
						<input type="file" class="input-file" onchange='onpic()' name="pic" id="pic" value="" accept='image/*' style="font-size: 20px;left:0;" /><span
						 id="sp"></span>
					</div>
					<div style="margin-top: 15px;">
						{if condition="$data.pic != ''"}
						<img src="{$data.pic}" height="60" style="margin: 20px;" />
						{else /}
						<div>暂无缩率图</div>
						{/if}
					</div>
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-3 col-sm-2">自动缩略图：</label>
				<div class="formControls col-xs-9 col-sm-9">
					<div class="skin-minimal">
						<div class="check-box">
							<input name="ti" type="checkbox" id="checkbox-122">
							<label for="checkbox-122">自动提取内容第一张图片为缩率图</label>
						</div>
					</div>
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>文章内容：</label>
				<div class="formControls col-xs-9 col-sm-9">
					<script id="editor" type="text/plain" style="width:100%;height:400px;">{$data.editorValue|raw}</script>
				</div>
			</div>
			<div class="row cl">
				<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
					<button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i>&nbsp;&nbsp;提交</button>
				</div>
			</div>
		</form>
	</article>

	<!--_footer 作为公共模版分离出去-->
	{include file="common/_footer" /}
	<style type="text/css">
		.li123 {
			line-height: 30px;
			background: burlywood;
			display: inline-block;
			vertical-align: middle;
			padding: 0 8px;
		}
	</style>
	<script type="text/javascript" src="__MANAGE__lib/My97DatePicker/4.8/WdatePicker.js"></script>
	<script type="text/javascript" src="__MANAGE__lib/jquery.validation/1.14.0/jquery.validate.js"></script>
	<script type="text/javascript" src="__MANAGE__lib/jquery.validation/1.14.0/validate-methods.js"></script>
	<script type="text/javascript" src="__MANAGE__lib/jquery.validation/1.14.0/messages_zh.js"></script>
	<script type="text/javascript" src="__MANAGE__lib/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" src="__MANAGE__lib/ueditor/ueditor.all.min.js"> </script>
	<script type="text/javascript" src="__MANAGE__lib/ueditor/lang/zh-cn/zh-cn.js"></script>
	<script type="text/javascript">
		$(function() {
			$('.skin-minimal input').iCheck({
				checkboxClass: 'icheckbox-blue',
				radioClass: 'iradio-blue',
				increaseArea: '20%'
			});

			$("#form-article-add").validate({
				rules: {
					title: {
						required: true,
					},
					cateid: {
						required: true,
					},
					editor: {
						required: true,
					},
				}
			});
			var ue = UE.getEditor('editor');
		});
		function textlength() {
			var nmb=$('#desc').val().length;
			if(nmb>100){
				$('#desc').css("background-color","orangered");
				$('#desc').val($('#desc').val().substr(0,100));
				$('.textarea-length').text(100);
			}else{
				$('#desc').css("background-color","white");
				$('.textarea-length').text(nmb);
			}
		}
		function onpic() {
			var file = document.getElementById("pic").files[0];
			document.getElementById("sp").innerHTML = '您已经选择图片：' + file['name'];
			document.getElementById("sp").className = 'li123';
		}
	</script>
	<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
