{include file="common/_meta" /}
<title>友情链接添加</title>
<meta name="keywords" content="李志立，lizhilimaster@163.com">
<meta name="description" content="李志立，lizhilimaster@163.com">
</head>
<body>
	<div class="page-container">
		<form action="" method="post" class="form form-horizontal" id="form-category-add">
			<div id="tab-category" class="HuiTab">
				<div class="tabCon">
					<input type="hidden" name="id" value="{$data.id}" />
					<div class="row cl">
						<label class="form-label col-xs-3 col-sm-2">
							<span class="c-red">*</span>
							链接名称：</label>
						<div class="formControls col-xs-8 col-sm-9">
							<input type="text" class="input-text" value="{$data.title}" placeholder="" id="title" name="title">
						</div>
						<div class="col-3">
						</div>
					</div>
					<div class="row cl">
						<label class="form-label col-xs-3 col-sm-2">
							<span class="c-red">*</span>
							链接地址：</label>
						<div class="formControls col-xs-8 col-sm-9">
							<input type="text" class="input-text" value="{$data.linkurl}" placeholder="链接地址必须包含，http://" id="linkurl" name="linkurl">
						</div>
						<div class="col-3">
						</div>
					</div>
					<div class="row cl">
						<label class="form-label col-xs-3 col-sm-2">描述：</label>
						<div class="formControls col-xs-8 col-sm-9">
							<textarea name="desc" id="desc" cols="" rows="" class="textarea" placeholder="说点什么，请输入..." onKeyUp="textlength()">{$data.desc}</textarea>
							<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
						</div>
						<div class="col-3">
						</div>
					</div>
					<div class="row cl">
						<div class="col-9 col-offset-2">
							<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!--_footer 作为公共模版分离出去-->
	{include file="common/_footer" /}

	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" src="__MANAGE__lib/My97DatePicker/4.8/WdatePicker.js"></script>
	<script type="text/javascript" src="__MANAGE__lib/jquery.validation/1.14.0/jquery.validate.js"></script>
	<script type="text/javascript" src="__MANAGE__lib/jquery.validation/1.14.0/validate-methods.js"></script>
	<script type="text/javascript" src="__MANAGE__lib/jquery.validation/1.14.0/messages_zh.js"></script>
	<script type="text/javascript">
		$(function() {
			$('.skin-minimal input').iCheck({
				checkboxClass: 'icheckbox-blue',
				radioClass: 'iradio-blue',
				increaseArea: '20%'
			});

			$("#tab-category").Huitab({
				index: 0
			});
			$("#form-category-add").validate({
				rules: {
					title: {
						required: true,
					},
					linkurl: {
						required: true,
						url: true,
					},
				}
			});

		});

		function textlength() {
			var nmb = $('#desc').val().length;
			$('.textarea-length').text(nmb);
			if (nmb > 100) {
				$('#desc').css("background-color", "orangered");
			} else {
				$('#desc').css("background-color", "white");
			}
		}
	</script>
	<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
