{include file="common/_meta" /}

<title>友情链接添加</title>
</head>
<body>
<div class="page-container">
	<form action="" method="post" class="form form-horizontal" id="form-category-add">
		<div id="tab-category" class="HuiTab">
			<div class="tabCon">
				<input type="hidden" name="id" value="{$data.id}" />
				<div class="row cl">
					<label class="form-label col-xs-3 col-sm-2">
						订单Id：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{$data.id}" disabled="disabled">
					</div>
					<div class="col-3">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-3 col-sm-2">
						订单号：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{$data.out_trade_no}" disabled="disabled">
					</div>
					<div class="col-3">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-3 col-sm-2">
						下单用户：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{$data.username ? $data.username : $data.mphone}" disabled="disabled">
					</div>
					<div class="col-3">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-3 col-sm-2">
						商品单价：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{$data.goods_price}" disabled="disabled">
					</div>
					<div class="col-3">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-3 col-sm-2">
						商品数量：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{$data.order_num}" disabled="disabled">
					</div>
					<div class="col-3">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-3 col-sm-2">
						付款金额（邮费）：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{$data.goods_price_zong}" disabled="disabled">
					</div>
					<div class="col-3">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-3 col-sm-2">
						支付方式：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<span class="select-box" style="width:30%">
						<select class="select" disabled="disabled">
							<option <?php if($data['payment'] == 1){ ?> selected="selected" <?php } ?> value="1">支付宝支付</option>
							<option <?php if($data['payment'] == 2){ ?> selected="selected" <?php } ?>  value="2">微信支付</option>			
						</select>
						</span>
					</div>
					<div class="col-3">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-3 col-sm-2">
						订单状态：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<span class="select-box" style="width:30%">
						<select class="select" name="order_status">
							<option <?php if($data['order_status'] == 0){ ?> selected="selected" <?php } ?> value="0">未确认</option>
							<option <?php if($data['order_status'] == 1){ ?> selected="selected" <?php } ?> value="1">已确认</option>		
							<option <?php if($data['order_status'] == 2){ ?> selected="selected" <?php } ?> value="2">申请退款 </option>
							<option <?php if($data['order_status'] == 3){ ?> selected="selected" <?php } ?> value="3">退款成功</option>	
						</select>
						</span>
					</div>
					<div class="col-3">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-3 col-sm-2">
						支付状态：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<span class="select-box" style="width:30%">
						<select class="select" disabled="disabled">
							<option <?php if($data['pay_status'] == 0){ ?> selected="selected" <?php } ?> value="0">未支付</option>
							<option <?php if($data['pay_status'] == 1){ ?> selected="selected" <?php } ?> value="1">已支付</option>		
						</select>
						</span>
					</div>
					<div class="col-3">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-3 col-sm-2">
						发货状态：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<span class="select-box" style="width:30%">
						<select class="select" name="post_status">
							<option <?php if($data['post_status'] == 0){ ?> selected="selected" <?php } ?> value="0">未发货</option>
							<option <?php if($data['post_status'] == 1){ ?> selected="selected" <?php } ?> value="1">已发货</option>		
							<option <?php if($data['post_status'] == 1){ ?> selected="selected" <?php } ?> value="2">已收货 </option>
						</select>
						</span>
					</div>
					<div class="col-3">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-3 col-sm-2">
						快递公司：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{$data.distribution}" name="distribution" placeholder="请输入快递公司">
					</div>
					<div class="col-3">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-3 col-sm-2">
						快递号：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{$data.express_num}" name="express_num" placeholder="请输入快递号">
					</div>
					<div class="col-3">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-3 col-sm-2">
						运费：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{$data.post_spent}" disabled="disabled">
					</div>
					<div class="col-3">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-3 col-sm-2">
						收货人姓名：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{$data.name}" disabled="disabled">
					</div>
					<div class="col-3">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-3 col-sm-2">
						收货人电话：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{$data.phone}" disabled="disabled">
					</div>
					<div class="col-3">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-3 col-sm-2">
						收货人地址：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{$data.sheng}{$data.shi}{$data.xian}{$data.address}" disabled="disabled">
					</div>
					<div class="col-3">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-3 col-sm-2">
						支付时间：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{$data.order_time}" disabled="disabled">
					</div>
					<div class="col-3">
					</div>
				</div>
				<div class="row cl">
					<div class="col-9 col-offset-2">
						<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__MANAGE__lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__MANAGE__lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__MANAGE__static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__MANAGE__static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__MANAGE__lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__MANAGE__lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__MANAGE__lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__MANAGE__lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#tab-category").Huitab({
		index:0
	});
	$("#form-category-add").validate({
		rules:{
			title:{
				required:true,
			},
			linkurl:{
				required:true,
				url:true,
			},
		}
	});

});
function textlength(){
	var nmb=$('#desc').val().length;
	$('.textarea-length').text(nmb);
	if(nmb>100){
		$('#desc').css("background-color","orangered");
	}else{
		$('#desc').css("background-color","white");
	}
}
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>