{include file="common/_meta" /}
<title>友情链接添加</title>
<meta name="keywords" content="李志立，lizhilimaster@163.com">
<meta name="description" content="李志立，lizhilimaster@163.com">
</head>
<body>
	<div class="page-container">
		<form action="" method="post" class="form form-horizontal" id="form-category-add">
			<div id="tab-category" class="HuiTab">
				<div class="tabCon">
					<input type="hidden" name="id" value="{$data.id}" />
					<input type="hidden" name="uid" value="{$data.user_id}" />
					<div class="row cl">
						<label class="form-label col-xs-3 col-sm-2">
							处理结果：</label>
						<div class="formControls col-xs-8 col-sm-9 skin-minimal">
							<div class="radio-box">
							    <input type="radio" id="radio-1" name="status" value="1">
							    <label for="radio-1">同意提现</label>
							</div>
							<div class="radio-box">
							     <input type="radio" id="radio-2" name="status" value="2">
							     <label for="radio-2">驳回</label>
							</div>
						</div>
						<div class="col-3">
						</div>
					</div>
					
					<div class="row cl">
						<div class="col-9 col-offset-2">
							<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!--_footer 作为公共模版分离出去-->
	{include file="common/_footer" /}

	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" src="__MANAGE__lib/My97DatePicker/4.8/WdatePicker.js"></script>
	<script type="text/javascript" src="__MANAGE__lib/jquery.validation/1.14.0/jquery.validate.js"></script>
	<script type="text/javascript" src="__MANAGE__lib/jquery.validation/1.14.0/validate-methods.js"></script>
	<script type="text/javascript" src="__MANAGE__lib/jquery.validation/1.14.0/messages_zh.js"></script>
	<script type="text/javascript">
		$(function() {
			$('.skin-minimal input').iCheck({
				checkboxClass: 'icheckbox-blue',
				radioClass: 'iradio-blue',
				increaseArea: '20%'
			});

			$("#tab-category").Huitab({
				index: 0
			});
			$("#form-category-add").validate({
				rules: {
					title: {
						required: true,
					},
					linkurl: {
						required: true,
						url: true,
					},
				}
			});

		});

		function textlength() {
			var nmb=$('#desc').val().length;
			if(nmb>100){
				$('#desc').css("background-color","orangered");
				$('#desc').val($('#desc').val().substr(0,100));
				$('.textarea-length').text(100);
			}else{
				$('#desc').css("background-color","white");
				$('.textarea-length').text(nmb);
			}
		}
	</script>
	<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
