{include file="common/_meta" /}
<title>幻灯片添加</title>
<meta name="keywords" content="李志立，lizhilimaster@163.com">
<meta name="description" content="李志立，lizhilimaster@163.com">
</head>
<body>
	<div class="page-container">
		<form action="" method="post" class="form form-horizontal" id="form-category-add" enctype="multipart/form-data">
			<div id="tab-category" class="HuiTab">
				<div class="tabCon">
					
					<div class="row cl">
						<label class="form-label col-xs-3 col-sm-2">是否开启联系客服：</label>
						<div class="formControls col-xs-9 col-sm-9">
							<div class="switch" data-on-label="开" data-off-label="关">
								{if condition="$data.iswo == 1"}
								<input type="checkbox" checked="checked" name="iswo" />
								{else /}
								<input type="checkbox" name="iswo" />
								{/if}
							</div>
						</div>
					</div>
					
					<div class="row cl">
						<label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>使用说明：</label>
						<div class="formControls col-xs-9 col-sm-9">
							<script id="editor" name='text' type="text/plain" style="width:100%;height:600px;">{$data.text|raw}</script>
						</div>
					</div>
					
					<div class="row cl">
						<div class="col-9 col-offset-2">
							<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!--_footer 作为公共模版分离出去-->
	{include file="common/_footer" /}
	
	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" src="__MANAGE__lib/My97DatePicker/4.8/WdatePicker.js"></script>
	<script type="text/javascript" src="__MANAGE__lib/jquery.validation/1.14.0/jquery.validate.js"></script>
	<script type="text/javascript" src="__MANAGE__lib/jquery.validation/1.14.0/validate-methods.js"></script>
	<script type="text/javascript" src="__MANAGE__lib/jquery.validation/1.14.0/messages_zh.js"></script>
	<script type="text/javascript" src="__MANAGE__lib/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" src="__MANAGE__lib/ueditor/ueditor.all.min.js"> </script>
	<script type="text/javascript" src="__MANAGE__lib/ueditor/lang/zh-cn/zh-cn.js"></script>
	<script type="text/javascript">
		$(function() {
			$('.skin-minimal input').iCheck({
				checkboxClass: 'icheckbox-blue',
				radioClass: 'iradio-blue',
				increaseArea: '20%'
			});

			$("#tab-category").Huitab({
				index: 0
			});
			$("#form-category-add").validate({
				rules: {
					
					
				}
			});
var ue = UE.getEditor('editor');
		});
		function system_category_add(title, url, w, h) {
			window.index = layer.open({
				type: 2,
				title: title,
				content: url,
				area: [w+'px', h+'px'],
			});
			
		}
		
	</script>
	<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
