<!--_meta 作为公共模版分离出去-->
{include file="common/_meta" /}
<title>基本设置</title>
<meta name="keywords" content="李志立，lizhilimaster@163.com">
<meta name="description" content="李志立，lizhilimaster@163.com">
</head>
<body>
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 系统管理 <span class="c-gray en">&gt;</span>
		常用配置 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);"
		 title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<h3 style="color: red;text-align: center;">请先了解规则后，在修改！</h3>
			<form action="" method="post" class="form form-horizontal" enctype="multipart/form-data" id="form-article-add">

				<div style="border: 1px solid #D0D0D0;padding-bottom: 20px;margin: 0 20px  20px 20px;border-radius: 20px;background: #fefefe">
					<div class="row cl">
						<label class="form-label col-xs-4 col-sm-2">
							<h3>分享配置 </h3>
						</label>
						<div class="formControls col-xs-8 col-sm-9" style="color: #31B0D5;text-align: left;line-height: 50px;padding-top: 10px;">
							
						</div>
					</div>
					<div class="row cl">
						<label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span> 分享图片：</label>
						<div class="formControls col-xs-9 col-sm-9">
							<div class="uploader-thum-container">
								<a href="javascript:void();" class="btn btn-primary radius"><i class="icon Hui-iconfont">&#xe642;</i> 浏览文件</a>
								<input type="file" class="input-file" onchange='onpic(this)' name="share_img" id="pic" value="" accept='image/*' style="font-size: 20px;left:0;" /><span
								 class="sp"></span>
							</div>
							<div style="margin-top: 15px;">
								{if condition="$data.share_img != ''"}
								<img src="{$data.share_img}" height="60" style="margin: 20px;" />
								{else /}
								<div>暂无缩率图</div>
								{/if}
							</div>
						</div>
					</div>
					<div class="row cl">
						<label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span> 分享标题：</label>
						<div class="formControls col-xs-9 col-sm-9">
							<input type="text" class="input-text" value="{$data.share_title}" placeholder="请输入分享标题" name="share_title">
						</div>
					</div>
					<div class="row cl">
						<label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span> 分享说明：</label>
						<div class="formControls col-xs-9 col-sm-9">
							<input type="text" class="input-text" value="{$data.share_desc}" placeholder="请输入分享说明" name="share_desc">
						</div>
					</div>
				</div>
				<div style="border: 1px solid #D0D0D0;padding-bottom: 20px;margin: 0 20px  20px 20px;border-radius: 20px;background: #fefefe">
					<div class="row cl">
						<label class="form-label col-xs-4 col-sm-2">
							<h3>默认配置 </h3>
						</label>
						<div class="formControls col-xs-8 col-sm-9" style="color: #31B0D5;text-align: left;line-height: 50px;padding-top: 10px;">
							这里的图片是用于，没有登陆之前的状态
						</div>
					</div>
					<div class="row cl">
						<label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span> 默认图片：</label>
						<div class="formControls col-xs-9 col-sm-9">
							<div class="uploader-thum-container">
								<a href="javascript:void();" class="btn btn-primary radius"><i class="icon Hui-iconfont">&#xe642;</i> 浏览文件</a>
								<input type="file" class="input-file" onchange='onpic(this)' name="logo" id="pic" value="" accept='image/*' style="font-size: 20px;left:0;" /><span
								 class="sp"></span>
							</div>
							<div style="margin-top: 15px;">
								{if condition="$data.logo != ''"}
								<img src="{$data.logo}" height="60" style="margin: 20px;" />
								{else /}
								<div>暂无缩率图</div>
								{/if}
							</div>
						</div>
					</div>
					
				</div>
				<div style="border: 1px solid #D0D0D0;padding-bottom: 20px;margin: 0 20px  20px 20px;border-radius: 20px;background: #fefefe">
					<div class="row cl">
						<label class="form-label col-xs-4 col-sm-2">
							<h3>分享积分规则 </h3>
						</label>
						<div class="formControls col-xs-8 col-sm-9" style="color: #31B0D5;text-align: left;line-height: 50px;padding-top: 10px;">
							只有点击分享按钮才有效，转发海报不进行统计！<span style="color: #FF0000;">不要随意修改！！</span>
						</div>
					</div>
					<div class="row cl">
						<label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span> 分享一次：</label>
						<div class="formControls col-xs-9 col-sm-9">
							<input type="number" class="input-text" value="{$data.fen_one}" placeholder="请输入分享一次获取的积分" name="fen_one" style="width: 30%;">
						</div>
					</div>
					<div class="row cl">
						<label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span> 成功一次：</label>
						<div class="formControls col-xs-9 col-sm-9">
							<input type="number" class="input-text" value="{$data.fen_cheng}" placeholder="请输入成功一次获取的积分" name="fen_cheng" style="width: 30%;">
						</div>
					</div>
					<div class="row cl">
						<label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span> 换购一次：</label>
						<div class="formControls col-xs-9 col-sm-9">
							<input type="number" class="input-text" value="{$data.fen_man}" placeholder="请输入满多少分换购一次" name="fen_man" style="width: 30%;">
						</div>
					</div>
					<div class="row cl">
						<label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span> 积分说明：</label>
						<div class="formControls col-xs-9 col-sm-9">
							<input type="text" class="input-text" value="{$data.fen_desc}" placeholder="请输入关于积分的说明" name="fen_desc">
						</div>
					</div>
				</div>
				<div class="row cl">
					<div class="col-xs-8 col-sm-9 col-xs-offset-2 col-sm-offset-1">
						<button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i>
							保存</button>

					</div>
				</div>
			</form>
		</article>
	</div>
	<!--_footer 作为公共模版分离出去-->
	<style type="text/css">
		.li123 {
			line-height: 30px;
			background: burlywood;
			display: inline-block;
			vertical-align: middle;
			padding: 0 8px;
		}
		#abtn,.dtbtn{
			color: red;
		}
	</style>
	{include file="common/_footer" /}
	<script type="text/javascript" src="__MANAGE__lib/My97DatePicker/4.8/WdatePicker.js"></script>
	<script type="text/javascript" src="__MANAGE__lib/jquery.validation/1.14.0/jquery.validate.js"></script>
	<script type="text/javascript" src="__MANAGE__lib/jquery.validation/1.14.0/validate-methods.js"></script>
	<script type="text/javascript" src="__MANAGE__lib/jquery.validation/1.14.0/messages_zh.js"></script>
	<script type="text/javascript">
		$(function() {
				$('.skin-minimal input').iCheck({
					checkboxClass: 'icheckbox-blue',
					radioClass: 'iradio-blue',
					increaseArea: '20%'
				});
		
				$("#tab-category").Huitab({
					index: 0
				});
				$("#form-category-add").validate({
					rules: {
						name: {
							required: true,
						},
						phone: {
							required: true,
						},
						weixin: {
							required: true,
						},
					}
				});
		
			});
	function onpic(e) {
		$(e).parent().find('.sp').html('您已经选择图片：' +$(e)[0].files[0].name).addClass('li123');
	}
	</script>
</body>
</html>
